#output {
  width: 400px;
  overflow-x: hidden;
  min-height: 200px; }

.login-page {
  padding: 10px;
  height: 100px; }

#app {
  background-color: #FBFBFB; }

.action-needed-img {
  border: 3px solid #ED1212; }

.avatar-image {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  margin-left: 3px;
  margin-top: 12px;
  transition: all .5s ease-in-out; }

@keyframes blinker {
  50% {
    opacity: 0.0; } }
.blink {
  animation: blinker 1.5s linear infinite; }

.blink-slow {
  animation: blinker 1.7s linear infinite; }

.blink-fast {
  animation: blinker 1.3s linear infinite; }

.chaser-close-button {
  margin-right: 4px;
  margin-top: 4px;
  transition: all .2s ease-in-out; }
  .chaser-close-button .icon {
    font-Size: 12px; }
  .chaser-close-button:hover {
    color: #ED1212; }

.chaser-popover {
  position: absolute;
  box-shadow: 1px 2px 3px;
  border-radius: 3px;
  background-color: #525252;
  color: #FBFBFB;
  padding: 3px 7px;
  opacity: .9;
  max-width: 300px; }

.chaser-row:nth-child(even) {
  background-color: #FBFBFB; }

.chaser-row {
  margin: 0 !important; }
  .chaser-row:hover {
    background-color: #e3e4e3 !important; }
    .chaser-row:hover .chaser-close-button {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      color: #ED1212; }
    .chaser-row:hover .action-needed-img {
      border: 0px; }

.clear {
  clear: both; }

.created-date {
  margin-top: -5px; }

.footer {
  border-top: 1px solid #E7E7E7;
  background-color: #FBFBFB;
  padding: 6px;
  min-height: 30px; }

.github-title {
  width: 30px;
  height: 30px; }

.header {
  width: 100%;
  border-bottom: 1px solid #F1F1F1;
  background-color: #FBFBFB;
  background-image: linear-gradient(#f9f9f9, #FBFBFB);
  background-repeat: repeat-x;
  height: 40px;
  padding: 4px 0px; }

.hide {
  display: none; }

.hide-slide {
  opacity: 0; }

.show-slide {
  opacity: 1;
  transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in; }

.login-page {
  height: 200px;
  padding: 10px; }

.media {
  cursor: pointer;
  padding: 3px 5px;
  margin: 0px; }
  .media > .pull-left {
    margin-right: 0; }
  .media h6 {
    line-height: 1.1;
    font-size: 12px;
    font-weight: 500; }

.media-heading {
  margin: 0;
  font-size: 12px; }

.pointer {
  cursor: pointer; }

.red {
  color: #ED1212; }

.refresh-btn {
  margin-top: 5px;
  color: #525252;
  background-color: #FBFBFB; }
  .refresh-btn img {
    width: 20px;
    height: 20px; }

.row-passed {
  border-left: solid 5px green;
  transition: all .1s ease-in-out; }
  .row-passed:hover {
    border-left: solid 5px green; }

.status-container {
  width: 15px;
  height: 100%;
  opacity: .7;
  transition: all .5s ease-in-out;
  padding: 5px 4px; }
  .status-container .circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top: 4px; }
  .status-container .passed {
    background-color: green;
    cursor: pointer; }
  .status-container .loading {
    background-color: orange;
    cursor: pointer; }
  .status-container .failed {
    background-color: #ED1212;
    cursor: pointer; }

.small-text {
  color: #999;
  font-size: 10px;
  margin: 0;
  text-indent: 0; }

.x-small-text {
  color: #999;
  font-size: 8px;
  top: -1px;
  margin: 0; }
